@media screen and (min-width : 610px) {
    .FontDesign {
        font-size: 30px;
    }
}

@media screen and (max-width : 610px) {
    .FontDesign {
        font-size: 15px;
    }
}

@media screen and (max-width : 300px) {
    .FontDesign {
        font-size: 10px;
    }
}