@media screen and (min-width : 1312px) {
    .CartGrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media screen and (min-width : 725px) {
    .TotalText{
       font-size: 20px;

    }
}