.priceDetailsCard{
    height: 320px;
    
    border: 1px solid lightgray;
    margin: 10px;
   
}
@media screen and (min-width : 1140px) {
    .CartGrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        
    }
    .priceDetailsCard{
        height: 320px;
        
        border: 1px solid lightgray;
        margin: 10px;
        position: sticky;
        top: 20px;
    }
    .PriceText{
        font-size: 20px;
    }
    .TotalText{
        font-size: 20px;
 
     }
}

@media screen and (max-width : 1069px) {
    .TotalText{
       font-size: 25px;

    }
    .PriceText{
        font-size: 25px;
    }
    .PriceDetailsSection{
        margin: 30px;
    }
    
    
    
}

@media screen and (max-width : 600px) {
    .TotalText{
       font-size: 15px;

    }
    .PriceText{
        font-size: 15px;
    }
    .PriceDetailsSection{
        margin: 10px;
    }
    
}